@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

.container {
    margin: 0 24px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(13, 26, 45, 1)
}

.card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 350px;
    max-height: 596px;
    border: 2px solid rgb(21, 39, 63);
    border-radius: 4%;
    background-color: rgb(21, 39, 63);
    margin-top: 6%;
    margin-bottom: 6%;;
}

.card__imagem {
    position: relative;
}

.card__imagem-base {
    height: 302px;
    margin:24px;
    border-radius: 10%;
}

.imagem-transicao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 302px;
    width: 302px;
    position: absolute;
    top: 0;
    margin: 24px;
    background-color: rgba(0, 255, 247, .5);
    border-radius: 10%;
    transition: .3s;
    opacity: 0;
    cursor: pointer;
    
}

.imagem-transicao:hover {
    opacity: 1;
}


.card__texto{
}

.card__texto-titulo:hover {
    color: #00FFF8;
    cursor: pointer;
}

.card__texto-titulo {
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 22px;
    color: white;
    padding-bottom: 16px;
    line-height: 28px;
}

.card__texto-frase {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #8BACD9;
}

.card__valores {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    width: 302px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 2px solid;
    border-color: #2E405A;
}

.card__eth {
    display: flex;
    align-items: center;
}

.card__eth-texto {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00FFF8;
    padding-left: 7px;
}

.card__dia {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.card__dia-texto {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8BACD9;
    padding-left: 7px;
}

.autor {
    display: flex;
    flex-direction: row;
    align-items:center;
    padding-top: 16px;
    padding-bottom: 32px;
    width: 235px;
    height: 33px;
}

.autor__imagem {
    height: 33px;
    border: 1px solid white;
    border-radius: 50%;
}

.autor__texto {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 16px;
    color: #8BACD9;
}

.autor__nome:hover {
    color: #00FFF8;
    cursor: pointer;
}

.autor__nome {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 5px;
    color: white;
}

